body{
    font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------
            common style 
 --------------------------------------------*/

 .half-width{
     width: 50%;
 }

 
/*----------------------------------
                header-section
 -------------------------------------- */


 header{
     display: flex;
     padding: 40px;
     background-color: rgb(48, 33, 180);
 }

.banner img{
    max-width: 100%;
    margin-top: 130px ;
}
.header-text{
    margin-top: 130px;
    margin-left: 50px;
    color: white;
}
a{
    text-decoration: none;
    background-color: rgb(170, 48, 201);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
}

/*---------------------------------------------------------
                    player-section
 ----------------------------------------- */


 .players{
     margin-top: 100px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     
 }
 .player{

  width: 284px;
  padding: 10px 10px 20px 10px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;

 }
 .player img{
     max-width: 100%;
 }


 /*----------------------------------------------
                optional section 
  -----------------------------------------------*/


.optional-section{
      display: flex;
      margin-top: 100px;
      margin-left: 30px;
     /* padding: 40px; */
  }
  .optional-img img{
    max-width: 100%;
  }

  /*---------------------------------------
            footer section
   ----------------------------------- */

   .footer-icon{
       text-align: center;
   }
   .footer-img{
      text-align: center;
   }
   footer{
       margin-top: 100px;
   }


   /*------------------- midea query------------------------ */

   @media only screen and (max-width: 688px) {
       main{
           width: 100%;
           margin: 0;
       }
       header{
           display: flex;
           flex-direction: column;
           align-items: center;
           width: 355px;
          
       }
       .players{
           display: grid;
           grid-template-columns: repeat(1, 1fr);
           justify-items: center;
       }
       .optional-section{
           display: flex;
           flex-direction: column;
           align-items: center;
       }
       .optional-section{
           margin-top: 20px;
       }
        .footer-img{
          width: 440px;
       }
   }